<html>
    <head><style>
            .copyright {
                text-align: center;
                margin: 0 auto;
                padding: 10px;
                color: #d0d0d0;
                font-size: 16px;
                font-weight: bold;
                margin-top: 60px;
                cursor: default;
            }
        </style></head>
    <body>
        <table width="100%" border="0">
            <tr>
                <td align="center" valign="middle">
                    <img src="help.png" width="400" height="400">
                </td>
            </tr>
        </table>
        <script type="text/javascript" src="/lib/js/Jquery/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="/lib/js/Bootstrap/js/bootstrap.min.js"></script>
        <div class="footer">
            <div class="row copyright">
                &copy; FUTURE FRAMEWORK
            </div>
        </div>
        <script language="javascript" type="text/javascript">
            jQuery(document).ready(function () {
                var anno = new Date().getFullYear();
                var copyRight = anno + ' &copy; FUTURE FRAMEWORK';
                $('div.row.copyright').html(copyRight);
            });
        </script>
    </body>
</html>
